*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}
#sidebar{
    background-color: rgb(48, 111, 136)
    
    
}
.sidebar-container{
    margin-left: 20px;
    margin-top: 15px;
    display: grid;
    gap: 25px;
    
}
.icon img{
    height: 20px;
    
}
#sidebar .icon {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    flex-shrink: 0;
}
#dashboard .icon img {
    height: 40px;
}
#dashboard a .label{
    font-size: 20px;
    font-weight: 600;
}
#sidebar a .label {
    margin-left: 10px;
}
#sidebar li{
    margin-top: 20px;
    list-style-type: none;
    font-size: 1em;
    font-weight: 600;
}
#sidebar a{
    color: white;
    display: flex;
    align-items:center ;
    text-decoration: none;
    filter: brightness(0) invert(1);
}
/* side container */
.side-container{
    display: grid;
    grid-template-rows: auto 4fr;
    
}

/* header */
header{
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding-bottom:10px ;
    padding-top: 10px;
}
#header-up,#header-down{
    box-sizing: border-box;
    margin: 0px 70px 10px 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items:center ;
    overflow: hidden;
}

#header-up ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    list-style: none;
}
.profile-picture img{
    height: 45px;
    width: 50px;
    border-radius: 100%;
}
#header-down .profile-picture img{
    height: 60px;
    width: 65px;
}

.search {
    display: grid;
    grid-template-columns: 1fr 18fr;
    justify-content: start;
    align-items: center;
}
.search .icon img{
    display: flex;
    justify-content: center;
}
.search input{
    display: grid;
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    background-color:#d3d3d3 ;
    border: none;
    text-align: center;
    outline: none;
}
#header-down ul{
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 20px;
}
.info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.header-btn{
    color: white;
    width: 95px;
    padding:8px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    text-align: center;
    border: none;
    background-color: rgb(77, 155, 185);
}



/* main-content */
section{
    padding-bottom: 40px;
    background-color: #d3d3d3;
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 30px;
}
.main-content{
    margin: 10px 0 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.main-content .box{
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 grey;
    background-color: white;
    border-left: 8px solid orange;
}
.content-container{
    margin: 15px;
    display: grid;
    grid-template-rows: 6fr 1fr;
    /* border: 1px solid red; */
    gap: 10px;

}
.passage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2px;
}
.icon-list{
    display: flex;
    justify-content: end;
    gap: 20px;
}
.passage #title{
    font-size: 20px;
    font-weight: 600;
}
.box .icon{
    height: 20px;
}


/* side contents */
.side-content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-right: 30px;
}
.announcement{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.a-list, .t-list{
    margin-top: 10px;
    padding: 10px;
    /* border: 1px solid black; */
    background-color: white;
    height:  285px;
    border-radius: 10px;
    box-shadow:5px 5px 10px 0 grey ;
}
.a-list{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px 35px ;
}
.one{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.topic{
    font-weight: 500;
}

.t-list{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 25px;
}
.t-list img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
.account{
    display: flex;
    gap: 10px;
}
.account-name{
    font-weight: 500;
}





















